<section class="showcase__section">
  <h2>Buttons</h2>
  <div class="showcase__row">
    <ibid-button variant="primary">Primary</ibid-button>
    <ibid-button variant="secondary">Secondary</ibid-button>
    <ibid-button variant="outlined">Outlined</ibid-button>
    <ibid-button variant="highlight">Highlight</ibid-button>
    <ibid-button variant="primary" [disabled]="true">Disabled</ibid-button>
  </div>
</section>

<section class="showcase__section">
  <h2>Icon buttons and links</h2>
  <div class="showcase__row">
    <ibid-icon-button ariaLabel="Add"><ibid-icon name="add" /></ibid-icon-button>
    <ibid-icon-button ariaLabel="Disabled" [disabled]="true"><ibid-icon name="add" /></ibid-icon-button>
    <ibid-view-more-link />
  </div>
</section>
